<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>关于我-个人博客</title>
    <div th:include="blog/common/base :: baselayout"></div>
</head>

<body>

      <div th:replace="blog/common/header :: headerlayout"></div>
    <!--content start-->
    <div id="content">

          <!--栏目分类-->
              <div th:replace="blog/common/right :: rightlayout"></div>
             <div class="clear"></div>
         
    </div>
    <!--content end-->
      <div th:replace="blog/common/foot :: footlayout"></div>
</body>
</html>
