<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Html5+css3注册页</title>
<link rel="stylesheet" href="images/main.css" type="text/css"/>
</head>
<body>
	<div id="container">
		<div class="label">html5+css3注册页</div>
		<br/>
		<br/>

		<div id="tw-outer">

			<div id="tw">

				<form action="" method="post">

					<div id='name' class='outerDiv'>

						<label for="name">Full name:</label> <input type="text"
							name="name"  />

						<div class='message' id='nameDiv'>Enter your first and last
							name.</div>

					</div>

					<div class='clearfix'></div>

					<div id='username' class='outerDiv'>

						<label for="number">Username:</label> <input type="text"
							name="username"  />

						<div class='message' id='usernameDiv'>Pick a unique name on
							tw.</div>

					</div>

					<div class='clearfix'></div>

					<div id='password' class='outerDiv'>

						<label for="password">Password:</label> <input type="password"
							name="password"  />

						<div class='message' id='websiteDiv'>6 characters or more
							(be tricky!).</div>

					</div>

					<div class='clearfix'></div>

					<div id='email' class='outerDiv'>

						<label for="email">Email:</label> <input type="email" name="email"
							 />

						<div class='message' id='emailDiv'>We'll send you a
							confirmation.</div>

					</div>

					<div class='clearfix'></div>

					<div id='submit' class='outerDiv'>

						<input type="submit" value="注册帐号" />

					</div>

					<div class='clearfix'></div>

				</form>

				<div class="clearfix"></div>

			</div>

		</div>

		<br/>

		<div id="warning"
			style="margin-top: 20px; color: rgb(85, 85, 85); text-align: center; font-size: 14px;">适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.</div>

	</div>

</body>

</html>

