<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" level="TRACE"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
<root level="INFO">
    <appender-ref ref="stdout" />
</root>
 </configuration>