<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="baselayout">
    <meta name="keywords" content="个人博客" />
    <meta name="description" content="" />
    <script type="text/javascript" th:src="@{js/blogjs/jquery1.42.min.js}"></script>
    <script type="text/javascript" th:src="@{js/jquery.SuperSlide.2.1.1.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{js/blogjs/html5.js}"></script>
    <![endif]-->
    <link rel="icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{images/icon/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{css/blogcss/index.css}"/>
    <link rel="stylesheet" th:href="@{css/blogcss/style.css}"/>
</head>
</html>