<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<body>
<div th:fragment="headerlayout" id="nav" >
    <ul>
        <li><a href="index.html">首页</a></li>
        <li><a th:href="diary.html">个人日记</a></li>
        <li><a href="word.html">碎言碎语</a></li>
        <li><a href="photo.html">相册展示</a></li>
        <li><a href="learn.html">学无止境</a></li>
        <li><a href="message.html">留言板</a></li>
        <li><a href="about.html">关于我</a></li>
        <div class="clear"></div>
    </ul>
</div></body>
</html>

